.footer {
    display: flex;
    min-height: 350px;
    background-color: #1f1f1f;
  }
  
  .footer__columns {
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 60px auto 40px;
  }
  
  .footer__column_content_copyright {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 711px;
  }
  
  .logo_place_footer {
    display: flex;
    width: 228px;
    height: 32px;
  }
  
  .footer__author {
    display: flex;
    margin: 18px 0;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    color: #ffffff;
  }
  
  .footer__column_content_info {
    display: flex;
    flex-direction: column;
  }
  
  .footer__column_content_social {
    display: flex;
    flex-direction: column;
  }
  
  .footer__column-heading {
    line-height: 30px;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
  }
  
  .footer__column-links {
    margin: 20px 0 16px;
  }
  
  .footer__column-link {
    display: flex;
    align-items: center;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    color: #ffffff;
  }
  
  .footer__social-icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
  }